.cardDespesa {
  background-color: var(--ultra-violet); /* Fundo roxo */
  color: var(--white-smoke); /* Texto branco */
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  margin: 0 auto;
  min-height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardDespesa:hover {
  transform: scale(1.05); /* Leve aumento no hover */
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.35); /* Sombra mais intensa */
}

.cardTitle {
  font-size: 1.2rem;
  font-weight: bold;

}

.cardValue {
  font-size: 1rem;
  color: var(--floral-white);
  margin-bottom: 10px;
}

.cardAction {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 1.0rem;
  color: var(--floral-white);
  cursor: pointer;
  transition: color 0.3s ease;
}

.Trash {
  font-size: 18px;
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 2;
  cursor: pointer;
  transition: all 0.3s ease;
  color: var(--white-smoke);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.Trash:hover {
  color: var(--imperial-red);
  transform: scale(1.1);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9);
}

/* Container dos cards de despesas */
.despesasContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

/* Responsividade */
@media (max-width: 1100px) {
  .despesasContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  .despesasContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .cardDespesa {
    max-width: 100%;
  }
}

@media (max-width: 576px) {
  .cardDespesa {
    padding: 15px;
    min-height: 160px;
  }

  .Trash {
    font-size: 16px;
    top: 6px;
    right: 6px;
  }
}
