.background {
  background: url("/midia/ingredientes-bg.png") no-repeat center center / cover,
    linear-gradient(135deg, #67477a, #40294d);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start; 
}

.banner {
  margin: 300px auto 0 auto;
  background: linear-gradient(135deg, rgba(103, 71, 122, 0.95), rgba(64, 41, 77, 0.95));
  border-radius: 20px;
  padding: 30px 50px;
  display: flex;
  align-items: center;
  gap: 25px;
  max-width: 850px;
  color: #fff;
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);
  flex-direction: row;
}

.iconCircle {
  background: rgba(255, 255, 255, 0.15);
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  font-size: 2rem;
}

.textContainer {
  flex: 1;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
}

.actions {
  display: flex;
  gap: 14px;
  flex-wrap: wrap;
  justify-content: center;
}

.btnCustomHeight {
  padding: 10px;
}

.btnCustomBack {
  background-color: #e2a50b !important; /* Escolha a cor desejada */
}

@media (max-width: 992px) {
  .banner {
    padding: 25px 40px;
    gap: 20px;
  }
  .title {
    font-size: 1.8rem;
  }
  .message {
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  .banner {
    flex-direction: column;
    padding: 20px 30px;
    text-align: center;
    gap: 15px;
  }
  .actions {
    justify-content: center;
  }
  .title {
    font-size: 1.6rem;
  }
  .message {
    font-size: 0.95rem;
  }
  .iconCircle {
    margin-bottom: 10px;
  }
}

@media (max-width: 576px) {
  .banner {
    padding: 15px 20px;
    border-radius: 15px;
  }
  .title {
    font-size: 1.4rem;
  }
  .message {
    font-size: 0.9rem;
  }
  .btnCustomHeight {
    width: 100%; 
    font-size: 0.9rem;
    padding: 8px;
  }
  .actions {
    flex-direction: column;
    gap: 10px;
  }
}
