.passo-a-passo-container1 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.passo-a-passo-max-width {
  gap: var(--dl-layout-space-fourunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  padding-top: 175px;
}
 
.passo-a-passo-container2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 48px; /* Espaço entre imagem e cards */
}
 
.passo-a-passo-section-header {
  min-width: 510px; /* Garante largura da imagem/título */
  max-width: 510px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--dl-layout-space-oneandhalfunits);
  top: 0%;
  position: sticky;
  scroll-margin-top: 25px;
}

.passo-a-passo-actions {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
}

.passo-a-passo-container3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
 
.passo-a-passo-container4 {
  top: 0%;
  position: sticky;
  transform: rotate(-2deg);
  margin-bottom: var(--dl-layout-space-twounits);
  background-color: var(--ultra-violet);
}
 
.passo-a-passo-text12 {
  text-align: center;
  color: var(--white-smoke);
}
 
.passo-a-passo-text13 {
  top: var(--dl-layout-space-unit);
  right: var(--dl-layout-space-unit);
  position: absolute;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  color: var(--white-smoke);
}
 
.passo-a-passo-container5 {
  top: 10%;
  position: sticky;
  transform: rotate(2deg);
  margin-bottom: var(--dl-layout-space-twounits);
  background-color: var(--dl-color-theme-accent2);
}

.card-roxo {
  color: var(--white-smoke);
}
 
.passo-a-passo-text15 {
  text-align: center;
}
 
.passo-a-passo-text16 {
  top: var(--dl-layout-space-unit);
  right: var(--dl-layout-space-unit);
  position: absolute;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;  
}
 
.passo-a-passo-container6 {
  top: 10%;
  position: sticky;
  transform: rotate(-2deg);
  margin-bottom: var(--dl-layout-space-twounits);
  background-color: var(--ultra-violet);
}
 
.passo-a-passo-text18 {
  text-align: center;
  color: var(--white-smoke);
}
 
.passo-a-passo-text19 {
  top: var(--dl-layout-space-unit);
  right: var(--dl-layout-space-unit);
  position: absolute;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  color: var(--white-smoke);
}
 
.passo-a-passo-container7 {
  top: 10%;
  position: sticky;
  transform: rotate(2deg);
  background-color: var(--dl-color-theme-accent2);
}
 
.passo-a-passo-text21 {
  text-align: center;
}
 
.passo-a-passo-text22 {
  top: var(--dl-layout-space-unit);
  right: var(--dl-layout-space-unit);
  position: absolute;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}
 
.passo-a-passo-image {
  margin-top: 30px;
  image-rendering: auto;
  width: 510px;
  height: 470px;
  object-fit: cover;
}
 
.passo-a-passo-text23 {
  display: inline-block;
  font-size: 18px;
}
 
.passo-a-passo-text24 {
  display: inline-block;
  font-size: 18px;
}

.passo-a-passo-text25 {
  display: inline-block;
}
 
.passo-a-passo-text26 {
  display: inline-block;
  font-size: 18px;
}
 
.passo-a-passo-text27 {
  display: inline-block;
  color: var(--white-smoke)
}
 
.passo-a-passo-text28 {
  display: inline-block;
}
 
.passo-a-passo-text29 {
  display: inline-block;
  font-size: 18px;
}
 
.passo-a-passo-text30 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .passo-a-passo-section-header {
    position: static;
    margin-bottom: var(--dl-layout-space-twounits);
  }
  .passo-a-passo-actions {
    width: 100%;
    align-self: flex-start;
  }
  .passo-a-passo-container4 {
    width: 100%;
  }
  .passo-a-passo-container5 {
    width: 100%;
  }
  .passo-a-passo-container6 {
    width: 100%;
  }
  .passo-a-passo-container7 {
    width: 100%;
  }

  .passo-a-passo-image {
    width: 100% !important;
    height: 100% !important;
    display: block; /* Garante que a imagem seja tratada como um bloco */
    margin: 0 auto; /* Centraliza horizontalmente */
  }
}

@media (max-width: 991px) {
  .passo-a-passo-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .passo-a-passo-section-header {
    order: 1;
    width: 100%;
    align-items: center;
    position: static;
    margin-bottom: 32px;
  }
  .passo-a-passo-image {
    margin: 32px auto 0 auto;
    display: block;
    width: 100%;
    max-width: 510px;
    height: auto;
  }
  .passo-a-passo-container3 {
    order: 2;
    width: 100%;
  }
}