.resumo-container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between; /* Mantém os elementos separados */
  align-items: flex-start; /* Evita que se alinhem verticalmente */
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 80px; /* Adiciona espaço para evitar sobreposição com a navbar */
  box-sizing: border-box;
  margin-top: 50px;
}

.resumo-mulher-container {
  position: relative;
}

.resumo-mulher-img {
  position: relative; /* Permite usar top e left */
  top: 0px; /* Move a imagem para cima */
  right: 250px; /* Move a imagem para a direita */
  width: auto; /* Mantém o tamanho original */
  max-width: 100%; /* Garante que a imagem não ultrapasse o container */
  height: 680px;
  object-fit: contain;
  display: block;
}

.resumo-card-container {
  position: relative; /* Permite posicionamento mais preciso */
  top: 80px; /* Move o card para cima */
  left: 150px; /* Move o card para a direita */
  margin: 0; /* Remove margens padrão */
}

.resumo-image-container {
  position: relative; /* Permite posicionamento mais preciso */
}

.resumo-content1 {
  gap: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  text-align: center;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  max-width: 65%;
}

.resumo-content1 h1 {
  font-family: "Domine", serif;
  font-weight: bold;
  display: flex;
  font-size: 40px;
  max-width: 100%;
}

.resumo-content1 p {
  font-size: 18px;
  max-width: 100%;
}

.btnUltraViolet {
  padding: 18px 32px;
  margin-top: 10px;
  scroll-behavior: smooth;
}

.resumo-text {
  display: flex;
  font-family: Lato, sans-serif;
}

.container {
  position: relative;
  background: linear-gradient(360deg, #67477A 0%, #FCD18A 100%);
  min-height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container::before {
  content: '';
  position: absolute;
  top: -75px;
  left: -25px;
  width: 100%;
  height: 100%;
  background-image: url("/midia/background_resumo.png"); /* Caminho da imagem */
  background-size: 75%; /* Faz a imagem ocupar todo o container */
  background-position: center; /* Centraliza a imagem */
  opacity: 0.05; /* Define a opacidade da imagem */
  z-index: 0; /* Coloca a imagem atrás do conteúdo */
  transform: rotate(-7.5deg);
}

.container > * {
  position: relative;
  z-index: 1; /* Garante que o conteúdo fique acima da imagem */
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
}

.wave svg {
  display: block;
  width: 100%;
  height: auto;
}

/* Media Queries */
@media (max-width: 1200px) {
  .resumo-container {

  }

  .resumo-mulher-img {
    width: 70%;
    left: 90px; /* Ajusta a posição para telas menores */
    top: -140px;
  }

  .container {
    max-height: 102vh;
  }

  .resumo-card-container {
    top: -25px;
    left: 50px;
    margin: 0 auto;       
    width: 60%;
    display: flex;
    justify-content: center;
  }

  .resumo-content1 {
    max-width: 550px;       
    width: 100%;
    max-height: 350px;
    height: 100%;
    padding: 20px;
    margin: 0;               
    box-sizing: border-box;
  }
}

@media (max-width: 1050px) {
  .resumo-mulher-container {
    flex: 1 1 60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 80%;
    height: 600px;
  }
}

@media (max-width: 992px) {
  .resumo-mulher-img {
    display: none;
  }

  .resumo-container {
    flex-direction: column;
    gap: 40px;
    padding: 20px 8px 0;
    align-items: center;      /* Centraliza horizontalmente */
    justify-content: center;
  }

  .resumo-card-container {
    top: 100px;
    left: 0;
    margin: 0 auto;       
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .resumo-content1 {
    max-width: 600px;       
    width: 100%;
    padding: 20px;
    margin: 0;               
    box-sizing: border-box;
  }
  .container {
    min-height: 70vh;
  }

}

@media (max-width: 576px) {
  .resumo-container {
    padding: 0 80px; /* Remove padding superior desnecessário */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Garante que o container ocupe a altura total */
  }
  .resumo-content1 {
    max-width: 100%; /* Ocupa toda a largura disponível */
    padding: 20px;
    margin: 0 auto;
  }
  .resumo-content1 h1 {
    font-size: 24px; /* Ajustado para melhor legibilidade */
  }
  .resumo-content1 p {
    font-size: 16px; /* Ajustado para telas pequenas */
    max-width: 100%;
  }
  .btnUltraViolet {
    padding: 8px 16px;
    font-size: 16px; /* Ajustado para telas pequenas */
  }
  .resumo-card-container {
    top: -200px; /* Remove deslocamento desnecessário */
    left: 0; /* Remove deslocamento desnecessário */
    margin: 0 auto; /* Centraliza */
  }
  .thq-section-padding#bullets {
    scroll-margin-top: 200px;
  }

  .container {
    max-height: 0vh;
  }
}